p {
    padding: 10% 10% 0% 10%; 
    margin: 0 10%;
}

p:first-child{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    padding-bottom: 3%;
    font-size: 0.9em;
}
p:nth-child(2){
    padding-top: 0;

}
footer p {
    padding: 0 !important;
    margin: 0;
}

@media all and (min-width:700px){
    p:first-child{
        font-size: 1.2em;
    }
}

@media all and (min-width:900px){
    p:first-child{
        font-size: 1.5em;
    }
}